{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group shadow-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                {{ form.username }}
            </div>
            <div class="input-group shadow-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                {{ form.password }}
            </div>
            <div class="row no-gutters">
                <a class="btn btn-link col-lg-6 col-md-6 col-sm-6" href="{% url 'sign-up' %}">Регистрация</a>
                <button class="btn btn-primary col-lg-6 col-md-6 col-sm-6" type="submit">Вход</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}