{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-3">
    <div class="card" style="max-width:540px;">
      <div class="row no-gutters">
          <img src="{{ user.image.url }}" class="img-fluid"/>
          <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
            <p class="card-text">{{ user.username }}</p>
            <p class="card-text"><small class="text-muted">Last updated {{ user.date_joined }}</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="row" style="margin-bottom: 5px;">
            <a class="btn btn-primary ml-auto" href="{% url 'post-new' %}"><i class="fa fa-plus"></i> Создать публикацию</a>
        </div>
        <div class="row">
            {% if posts %}
                <ul style="list-style: none">
                {% for post in posts %}
                    <li>
                        <a href={% url 'post-view' post.slug %}>{{ post.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>У вас нет публикаций</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}