{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-4">{{ form.username.label }}</div>
                <div class="col-8">{{ form.username }}</div>
            </div>
            <div class="form-group row">
                <div class="col-4">{{ form.password1.label }}</div>
                <div class="col-8">{{ form.password1 }}</div>
            </div>
            <div class="form-group row">
                <div class="col-4">{{ form.password2.label }}</div>
                <div class="col-8">{{ form.password2 }}</div>
            </div>
            <button class="btn float-right btn-primary col-lg-4 col-md-6 col-sm-6" type="submit">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}