{% extends 'base.html'%}
{% block content %}
    {% if not user.is_authenticated %}
        <p>Добро пожаловать! Это домашняя страница сайта.</p>
        <p>Чтобы создать публикацию <a href="{% url 'sign-up' %}">зарегистрируйтесь</a> или <a href="{% url 'login' %}">войдите</a>.</p>
    {% endif %}
    {% block posts %}{% endblock %}
{% endblock %}