{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-8">@{{ object.author.username }}, {{ object.created_at | date:"j N Y" }}</div>
        <div class="col-4 text-right">
            {% if object.author == user %}
                <a class="btn btn-primary" href={% url 'post-update' object.slug %}><i class="fa fa-edit"></i></a>
                <a class="btn btn-primary" href={% url 'post-delete' object.slug %}><i class="fa fa-trash"></i></a>
            {% endif %}
        </div>
    </div>
    <h4>{{ object.title }}</h4>
    <div>
        {{ object.description  }}
    </div>
    <button class="btn btn-default" id="like"><i class="fa fa-thumbs-up"></i> {{ object.likes.count }}</button>
{% endblock %}

{% block script %}
<script>
$(function(){
        $('#like').click(function () {
            if('{{ token }}'){
                $.ajax({
                    headers: {'Authorization': 'Token {{ token }}'},
                    url: 'http://127.0.0.1:8080/post/api/{{ object.slug }}/like/',

                    method: 'GET',
                    success: (request) => {
                        window.location.href = '/post/{{ object.slug }}/'
                    },
                    error: (request) => {
                        console.log(request.data)
                    }
                });
            }else{
                $.ajax({
                    url: 'http://127.0.0.1:8080/user/login/',
                    method: 'GET',
                    success: (request) => {
                        window.location.href = '/user/login/'
                    }
                });
            }
        });
});
</script>
{% endblock %}