{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Вы действительно хотите удалить пост "{{ object }}"?</p>
    <button class="btn btn-primary" type="submit">Да, удалить!</button>
</form>
{% endblock %}