{% extends 'home.html' %}

{% block posts %}
    {% if user.is_authenticated %}
        {% if not object_list %}
            <p>Станьте первым автором.</p>
        {% endif %}
        <div class="row no-gutters" style="margin-bottom: 5px;">
            <a class="btn btn-primary" href="{% url 'post-new' %}"><i class="fa fa-plus"></i> Создать публикацию</a>
        </div>
    {% endif %}
    {% if object_list %}
        {% for object in object_list %}
            <a class="list-group-item list-group-item-action" href={% url 'post-view' object.slug %}>
                <div class="row">
                    <div class="col-1">
                        <i class="fa fa-thumbs-up"></i> {{ object.likes.count }}
                    </div>
                    <div class="col-9">
                        <h6>{{ object.title }}</h6>
                    </div>
                    <div class="col">
                        <i class="fa fa-user-alt"></i> {{ object.author.username }}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}